                                        /* ---------- GENERAL ---------- */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --noir: #2f3542;
    --bleu: #2980b9;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

                                        /* ---------- HEADER ---------- */

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: #D1CCDC;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid #fff; */
}

header h2 a {
    text-decoration: none;
    color: #D1CCDC;
    display: none;
}

nav {
    /* border: 1px solid #fff; */
    position: relative;
    right: 4rem;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: #D1CCDC;
    margin: 0 1rem 0 1rem;
    font-size: 1.6rem;
}

nav a:hover {
    color: #fff;
}

                                        /* ---------- ACCUEIL ---------- */

.accueil {
    height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5rem;
}

.particles-js-canvas-el {
    width: 100%;
    height: 100vh;
}

                    /* TITRE, PARAGRAPHE ET BOUTONS */

.elt1 {
    /* border: 1px solid #fff; */
    grid-column: 2 / span 2;
    grid-row: 2 /span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

                    /* TITRE */

.elt1 h1 {
    font-size: 7rem;
    color: #fff;
    text-shadow: -0.4rem 0.4rem 0.4rem #000;
    position: relative;
}

                    /* PARAGRAPHE */

.elt1 p {
    position: relative;
    bottom: 5rem;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    color: #D1CCDC;
    text-shadow: -0.1rem 0.1rem 0.4rem #000;
}

                    /* BOUTONS */

.boutons {
    /* border: 1px solid #fff; */
    width: 30rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4rem;
}

.boutons a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 1.8rem;
    border: 0.1rem solid #fff;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    border-radius: 0.5rem;
    box-shadow: -0.4rem 0.4rem 0.4rem #000;
    transition-duration: 0.3s;
}

.boutons a:hover {
    box-shadow: 0.6rem 0.6rem 0.4rem #000;
    font-size: 1.6rem;
}

.boutons a:active {
    padding: 0.8rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #000;
    font-size: 0.9em;
}

                    /* LOGOS RESEAUX SOCIAUX */

.elt3 {
    /* border: 1px solid #fff; */
    grid-column: 4 / span 2;
    grid-row: 4 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.elt3 a i {
    color: #D1CCDC;
    text-decoration: none;
    font-size: 4.5rem;
    margin: 0 1rem 0 1rem;
}

.elt3 a i:hover {
    color: #fff;
}

                                        /* ---------- RESPONSIVE ---------- */

/* 
Téléphone - portrait : width: 360px / height: 640px
Téléphone - paysage : width: 640px / height: 360px
Tablette - portrait : width: 600px / height: 960px
tablette - paysage : width: 960px / height: 600px
Pc Portable : width: 1536px / height: 864px
*/

                    /* ----- WIDTH < 1000px ----- */

@media screen and (max-width: 1000px) {
    .elt1 {
        grid-column: 1 / span 4;
    }
}

                    /* WIDTH < 800px ----- */

@media screen and (max-width: 800px) {
    header {
        padding: 10px;
        height: 40px;
    }

    nav {
        display: none;
    }
    
    .elt1 h1 {
        font-size: 6rem;
        bottom: 4rem;
    }

    .elt1 p {
        font-size: 1.9rem;
        bottom: 6rem;
    }

    .boutons {
        width: 20rem;
        height: 8rem;
    }

    .boutons a {
        font-size: 1.5rem;
    }

    .elt3 a i {
        font-size: 4em;
    }
}

                    /* ----- WIDTH < 500px ----- */

@media screen and (max-width: 500px) {
    .elt1 {
        bottom: 4rem;
    }
    .elt1 h1 {
        font-size: 6rem;
        text-align: center;
        padding: 0 4rem 0 4rem;
    }

    .elt1 p {
        font-size: 1.8rem;
        bottom: 6.5rem;
    }

    .elt3 {
        display: flex;
        bottom: 3rem;
    }
}

                    /* ----- HEIGHT < 500px ----- */

@media screen and (max-height: 500px) {
    .elt1 {
        top: 4rem;
    }

    .elt1 p {
        bottom: 9rem;
    }

    .boutons {
        bottom: 8rem;
    }

    .elt3 {
        display: none;
    }
}

                                        /* ---------- PRESENTATION ---------- */

#presentation {
    height: 100vh;
    /* Background uigradients.com - #DarkSkies */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}
