                                        /* ---------- GENERAL ---------- */

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --noir: #2f3542;
    --bleu: #2980b9;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

                                        /* ---------- HEADER ---------- */

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #D1CCDC;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid #fff; */
}

header h2 a {
    text-decoration: none;
    color: #D1CCDC;
    display: none;
}

nav {
    /* border: 1px solid #fff; */
    position: relative;
    right: 40px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #D1CCDC;
    margin: 0 10px 0 10px;
}

nav a:hover {
    color: #fff;
}

                                        /* ---------- ACCUEIL ---------- */

#accueil {
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tech-50.jpg);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}

.elt1 {
    /* border: 1px solid #fff; */
    grid-column: 2 / span 2;
    grid-row: 2 /span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.elt1 h1 {
    font-size: 4.5em;
    color: #fff;
    text-shadow: -4px 4px 4px #000;
}

.elt1 p {
    position: relative;
    bottom: 50px;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    color: #D1CCDC;
    text-shadow: -1px 1px 4px #000;
}

.boutons {
    /* border: 1px solid #fff; */
    width: 150px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
}

.boutons a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    box-shadow: -4px 4px 4px #000;
    transition-duration: 0.3s;
}

.boutons a:hover {
    box-shadow: 6px 6px 4px #000;
    font-size: 1.1em;
}

.boutons a:active {
    padding: 8px;
    box-shadow: 2px 2px 4px #000;
    font-size: 0.9em;
}

.elt3 {
    /* border: 1px solid #fff; */
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.elt3 a i {
    color: #D1CCDC;
    text-decoration: none;
    font-size: 3em;
    margin: 0 10px 0 10px;
}

.elt3 a i:hover {
    color: #fff;
}

                                        /* ---------- RESPONSIVE ---------- */

/* 
Téléphone : 360x640px
Tablette : 600x960px
Pc Portable : 
*/

@media screen and (max-width: 800px) {
    header {
        padding: 10px;
        height: 40px;
    }

    nav {
        display: none;
    }
    .elt1 {
        grid-column: 1 / span 4;
    }
    .elt1 h1 {
        font-size: 2.8em;
    }

    .elt1 p {
        font-size: 1em;
    }

    .elt3 a i {
        font-size: 2em;
    }
}

                                        /* ---------- PRESENTATION ---------- */

#presentation {
    height: 100vh;
    /* Background uigradients.com - #DarkSkies */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}
